.container {
  overflow: hidden;
  position: relative;
  float: left;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper img {
  float: left;
}

#slider-image {
  max-height: 487px;
  height: auto;
}
