.main-wrapper {
  width: 100%;
  background-color: #f7f7f7;
  min-width: 1206px;
}

.aligned-wrapper {
  width: 75.375em;
  padding: 0 18px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.header {
  margin-bottom: 50px;
}

.logo-wrapper {
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
}
.logo {
  width: auto;
}

.icon-wrapper {
  float: left;
  margin-top: 20px;
}
.search-bar {
  float: left;
}

.burger-menu {
  display: none;
}

.nav-menu-bar {
  float: left;
  margin-left: 8%;
}
.nav-menu-bar ul {
  float: left;
  width: 100%;
}
.nav-menu-bar-mobile {
  display: none;
}

.nav-social-bar {
  float: right;
}

.clear-fix:before,
.clear-fix:after {
  content: '';
  display: table;
}
.clear-fix:after {
  clear: both;
}

.horizontal-line {
  background-color: #eaeaeb;
  float: left;
  width: 100%;
  height: 1px;
}

/* Body */

.large-slider {
  float: left;
  width: 100%;
  margin-bottom: 45px;
}

.left-arrow,
.right-arrow {
  width: 8.547%;
  float: left;
  max-height: 487px;
}

.large-slider-image {
  float: left;
  width: 82.906%;
  overflow: hidden;
  background-color: #ff9b9b;
  max-height: 487px;
}

.large-slider-top-section {
  float: left;
  width: 100%;
  max-height: 487px;
}

.large-slider-bot-section {
  float: left;
  width: 100%;
}
.large-slider-bot-section span {
  font-size: 7px;
}

.slider-index-left {
  width: 58.376%;
  float: left;
}
span.slider-index {
  cursor: pointer;
}

.previous-image {
  width: 31.8433%;
  float: left;
  border-bottom: 2px solid #ffb79b;
  padding: 10px 0;
}
.current-image {
  width: 31.8433%;
  float: right;
  border-bottom: 2px solid #ffb79b;
  padding: 10px 0;
}
.next-image {
  width: 22%;
  text-align: right;
  float: right;
  border-bottom: 2px solid #ffb79b;
  padding: 10px 0;
}

.small-slider {
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: 50px;
}

.small-slider-left-arrow:hover{
  ba
}

.instagram-label {
  position: absolute;
  background-color: #ffb79b;
  transform: translateX(-50%);
  text-align: center;
  z-index: 1;
  top: -7%;
  left: 50%;
  width: 10%;
  height: 30px;
  max-width: 100px;
}

.instagram-label span {
  color: white;
  line-height: 30px;
  font-size: 12px;
}

.small-left-arrow {
  width: 2.991%;
  float: left;
  max-height: 202px;
}

.four-small-images {
  float: left;
  width: 94.018%;
  max-height: 202px;
}

.small-image {
  float: left;
  width: 25%;
}
/* .small-image img {
  width: 100%;
} */

.small-right-arrow {
  width: 2.991%;
  float: left;
  max-height: 202px;
}

.col-2-right {
  float: left;
  width: 100%;
}

.column-left {
  float: left;
  width: 74.359%;
}

.small-post-pink-line-div,
.medium-post-pink-line-div {
  width: 47.6437%;
  float: left;
  height: 2px;
  background-color: #ffb79b;
}
.side-bar-pink-line-div {
  width: 48%;
  float: left;
  height: 2px;
  background-color: #ffb79b;
}
.footer-pink-line-div {
  width: 100%;
  float: left;
  height: 2px;
  margin-bottom: 60px;
  background-color: #ffb79b;
}

.footer-aboutme-pink-line-div {
  width: 27%;
  float: left;
  height: 2px;
  background-color: #ffb79b;
}

.pink-line-div {
  width: 22.6437%;
  float: left;
  height: 2px;
  background-color: #ffb79b;
}

.grey-line-div {
  width: 100%;
  margin-bottom: 30px;
  float: left;
  height: 2px;
  background: url(../images/pink-grey-line.png) repeat-x;
}

.grey-line-div-margin-bottom-10 {
  width: 100%;
  margin-bottom: 10px;
  float: left;
  height: 2px;
  background: url(../images/pink-grey-line.png) repeat-x;
}

.large-recent-post {
  float: left;
  width: 100%;
  margin-bottom: 30px;
  background-color: white;
}

.recent-post-body {
  float: left;
}
.recent-post-image {
  float: left;
  position: relative;
  width: 100%;
  max-height: 370px;
}
.recent-post-image .image-wrapper {
  max-height: 370px;
}

.recent-post-image .image-wrapper img {
  width: 100%;
}

.recent-post-image .camera-icon {
  width: 48px;
  height: 40px;
  background-color: #ffb79b;
  position: absolute;
  top: 0;
  left: 0;
}

.recent-post-description {
  padding: 40px 30px;
  float: left;
}

.artist-name-list {
  float: left;
  margin-bottom: 27px;
}

.post-description {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 25px;
}

.continue-reading {
  float: left;
  width: 100%;
}

.icon-right,
.small-post-icon-right,
.medium-post-icon-right {
  width: 210px;
  float: right;
}

.small-recent-posts {
  float: left;
  margin-bottom: 30px;
}
.small-recent-post-left {
  width: 48.279%;
  float: left;
  background-color: white;
}
.small-recent-post-right {
  width: 48.279%;
  float: right;
  background-color: white;
}

.small-recent-post-image {
  float: left;
  position: relative;
  max-height: 240px;
}

.small-recent-post-image .image-wrapper img {
  width: 100%;
}

.small-recent-post-image .camera-icon {
  width: 48px;
  height: 40px;
  background-color: #ffb79b;
  position: absolute;
  top: 0;
  left: 0;
}
.small-recent-post-image .camera-icon img {
  width: 100%;
}

.medium-recent-post {
  float: left;
  background-color: white;
  margin-bottom: 30px;
}

.medium-recent-post-image {
  float: left;
  width: 34.4828%;
  height: 285px;
  position: relative;
}
.medium-recent-post-image .image-wrapper img {
  width: 100%;
  height: 285px;
  width: 100%;
}

.medium-recent-post-description {
  padding: 32px;
  float: left;
  width: 58%;
}

.column-right {
  float: right;
  width: 23.077%;
}
.side-bar-body {
  width: 100%;
  float: left;
}

.search-bar-body {
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}

.popular-post {
  float: left;
  background-color: white;
  padding: 30px 20px 10px 20px;
  margin-bottom: 30px;
}

.popular-post-body {
  float: left;
}

.popular-post-list {
  float: left;
  width: 100%;
  margin-bottom: 19px;
  padding-top: 19px;
}

.popular-post-image {
  float: left;
  width: 70px;
  max-height: 50px;
}
.popular-post-image img {
  width: 100%;
}
.popular-post-description {
  float: right;
  width: 65.2174%;
}
.pic-250x250 {
  width: 100%;
  float: left;
  background-color: white;
  margin-bottom: 30px;
  padding: 10px;
  max-height: 270px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.categories {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  float: left;
  background-color: white;
  margin-bottom: 30px;
  padding: 30px 20px 10px 20px;
}
.categories-heading,
.categories-body {
  float: left;
  width: 100%;
}

/* a.category-list {
  text-decoration: none;
  color: black;
  padding: 0px 20px 0 0px;
} */

.instagram {
  float: left;
  background-color: white;
  margin-bottom: 30px;
  padding: 30px 20px 10px 20px;
}

.instagram-heading,
.instagram-body {
  float: left;
  width: 100%;
}
.instagram-body {
  width: 100%;
  padding: 20px 0;
}

.row-1,
.row-2,
.row-3 {
  width: 100%;
  float: left;
}

.instagram-body .row-1 img,
.instagram-body .row-2 img,
.instagram-body .row-3 img {
  width: 32%;
}

.social-media {
  width: 100%;
  float: left;
  background-color: white;
  margin-bottom: 30px;
  padding: 30px 20px 10px 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.social-media-heading,
.social-media-body {
  float: left;
  width: 100%;
}
.social-media-body {
  width: 100%;
  padding: 20px 0;
}

.social-media-body .recent-post-social-bar {
  width: 72%;
}

.social-media-body .recent-post-social-bar li {
  padding: 10px 12px;
}

.post-slider {
  width: 100%;
  float: left;
  background-color: white;
  margin-bottom: 30px;
  padding: 30px 20px 10px 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.post-slider-heading,
.post-slider-body {
  float: left;
  width: 100%;
  padding-bottom: 20px;
  position: relative;
}

.post-slider-body {
  max-height: 170px;
}

.post-slider-body img {
  width: 100%;
}

.post-slider-left-arrow,
.post-slider-right-arrow {
  max-height: 170px;
  position: absolute;
  width: 15.65%;
  z-index: 10;
}

.post-slider-left-arrow {
  left: 0;
}

.post-slider-right-arrow {
  right: 0;
}

.post-slider-left {
  position: absolute;
  top: 50%;
  left: 0;
  width: 36px;
  transform: translateY(-50%);
  height: 36px;
  background: url(../images/post-slider-left-arrow.png);
}

.post-slider-right {
  position: absolute;
  top: 50%;
  right: 0;
  width: 36px;
  transform: translateY(-50%);
  height: 36px;
  background: url(../images/post-slider-right-arrow.png);
}
/* Footer */

.footer {
  margin-top: 10px;
}

.footer-up-arrow {
  position: absolute;
  background: url(../images/up-arrow.png);
  top: 2px;
  right: 3px;
  transform: translateX(-37%);
  width: 40px;
  height: 40px;
}
.footer-up-arrow:hover {
  cursor: pointer;
  background: url(../images/up-arrow-hover.png);
}

.footer-left {
  float: left;
  width: 65.812%;
  margin-bottom: 30px;
}

.footer-l-left {
  float: left;
  width: 48.052%;
}

.aboutme-image-wrapper {
  float: left;
  width: 100%;
  height: 250px;
  position: relative;
}

.aboutme-image-wrapper img.aboutme-image {
  float: left;
  width: 100%;
  height: 230px;
}
.aboutme-image-wrapper img.aboutme-signature {
  position: absolute;
  max-height: 60px;
  bottom: 0;
  right: 0;
  background: url(../images/aboutme-signature.png) no-repeat;
}
.footer-r-right {
  float: right;
  width: 48.052%;
}
.tweet-post {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
.tweet-heading {
  float: left;
  width: 100%;
  font-size: 12px;
  line-height: 30px;
  margin-bottom: 7px;
}
.tweet-username {
  float: left;
  margin-bottom: 20px;
}
.tweet-username a {
  background: url(../images/icons/twitter-icon.png) no-repeat;
  padding-left: 15px;
  color: #ffb79b;
  font-size: 12px;
  text-decoration: none;
}

.tweet-username a:hover {
  color: #de9e85;
}

.footer-right {
  width: 31.6239%;
  float: right;
  margin-bottom: 60px;
}

.footer-right-heading,
.footer-right-body {
  float: left;
  width: 100%;
}

.subsrciption-form {
  float: left;
  margin-top: 10px;
  width: 100%;
}

.name-field,
.email-field {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  padding: 18px 20px;
  outline: none;
  border: none;
  font-size: 12px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@media (max-width: 1205px) {
  .main-wrapper {
    min-width: 0;
  }

  .aligned-wrapper {
    width: 100%;
  }
  .column-right {
    min-width: 270px;
    margin-left: 30px;
  }
  .column-left {
    width: 69.6%;
  }
}

@media (max-width: 1190px) {
  .nav-menu-bar {
    margin-left: 4%;
  }
}

@media (max-width: 1024px) {
  .burger-menu {
    display: block;
    height: 51px;
    width: 50px;
    float: left;
  }

  .column-left {
    width: 68.6%;
  }

  .nav-menu-bar {
    display: none;
  }

  .nav-menu-bar-mobile {
    float: left;
    width: 100%;
    display: none;
    padding: 0 18px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .nav-menu-bar-mobile li {
    float: left;
    list-style: none;
    border-right: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    line-height: 50px;
  }
  .nav-menu-bar-mobile li:first-child {
    border-left: 1px solid #cecece;
  }

  .nav-menu-bar-mobile li a {
    padding: 0 12px;
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .column-left {
    width: 63.5%;
  }

  .small-recent-post-left,
  .small-recent-post-right {
    width: 100%;
  }

  .small-recent-post-image {
    max-height: none;
  }
  .medium-recent-post-image {
    width: 100%;
    height: auto;
  }
  .medium-recent-post-image .image-wrapper img {
    height: auto;
  }

  .medium-recent-post-description {
    padding: 32px;
    float: left;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
}
@media (max-width: 860px) {
  .column-left {
    width: 58.9%;
  }
  .instagram-label {
    width: 13%;
    height: 25px;
  }
  .instagram-label span {
    line-height: 25px;
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .column-left {
    width: 100%;
  }

  .column-right {
    margin-left: 0;
    width: 100%;
  }
  .popular-post-description {
    float: left;
    margin-left: 20px;
  }

  .previous-image,
  .current-image {
    width: 32.8433%;
  }

  .pic-250x250 {
    max-height: none;
  }
  .pic-250x250 img {
    width: 100%;
  }
  .post-slider-body {
    max-height: none;
  }

  .footer-left {
    width: 100%;
  }

  .footer-right {
    width: 100%;
    float: left;
    padding: 0 110px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
}

@media (max-width: 562px) {
  .nav-menu-bar-mobile li a {
    padding: 0 10px;
    font-size: 10px;
  }
  .instagram-label span {
    line-height: 25px;
    font-size: 9px;
  }
  .footer-l-left {
    margin-bottom: 30px;
    width: 100%;
  }

  .footer-r-right {
    margin-bottom: 0;
    width: 100%;
  }

  .footer-right {
    padding: 0;
  }
  .icon-right,
  .small-post-icon-right,
  .medium-post-icon-right {
    width: 165px;
    float: right;
  }

  .large-slider-bot-section {
    display: none;
  }
}

@media (max-width: 486px) {
  .burger-menu {
    height: 41px;
    width: 40px;
  }
  .nav-menu-bar-mobile li {
    line-height: 30px;
  }
  .nav-menu-bar-mobile li a {
    padding: 0 2px;
    font-size: 10px;
  }

  .instagram-label {
    width: 15%;
    height: 20px;
  }
  .instagram-label span {
    line-height: 15px;
    font-size: 9px;
  }
}

@media (max-width: 375px) {
  .nav-menu-bar-mobile li a {
    font-size: 8px;
  }
  .instagram-label span {
    line-height: 15px;
    font-size: 8px;
  }
}

/* @media (min-width: 437px) {
  .logo-wrapper {
    margin-bottom: 40px;
  }

  .header {
    margin-bottom: 35px;
  }

  .large-slider {
    margin-bottom: 45px;
  }
  .large-slider-bot-section {
    display: block;
    width: 100%;
  }

  .small-slider {
    margin-bottom: 40px;
  }

  .instagram-label {
    top: -7%;
  }
} */
