* {
  font-family: Raleway;
  color: black;
}

a {
  text-decoration: none;
}

h1.header-1 {
  font-size: 17px;
  margin-bottom: 12px;
}
h2.header-2 {
  font-size: 22px;
  margin-bottom: 10px;
  padding-top: 10px;
}

.search-bar li {
  float: left;
  list-style: none;
  border-right: 1px solid #cecece;
  padding: 0 16px;
  line-height: 50px;
}

.search-bar li a {
  text-decoration: none;
  font-size: 12px;
}
.search-bar li a:hover {
  color: #ffb79b;
}

.search-bar li:first-child {
  border-left: 1px solid #cecece;
}

/* .nav-menu-bar a.burger-menu img {
  height: 27px;
  margin-top: 2px;
} */

.nav-menu-bar li,
.nav-social-bar li {
  float: left;
  line-height: 50px;
  list-style: none;
}

.nav-social-bar li {
  width: 44px;
  text-align: center;
  border-right: 1px solid #cecece;
}

.nav-social-bar li:first-child {
  border-left: 1px solid #cecece;
}

.nav-menu-bar li a,
.nav-social-bar li a {
  text-decoration: none;
  font-size: 12px;
  padding: 0 13px;
}

.nav-social-bar li a {
  padding: 12px 0;
}

.nav-menu-bar li a:hover,
.nav-social-bar li a:hover i {
  color: #ffb79b;
}

img.arrows {
  min-height: inherit;
  width: 100%;
  cursor: pointer;
}

.large-slider-bot-section span {
  font-size: 12px;
}

.artist-name-list li {
  float: left;
  list-style: none;
}

.artist-name-list li a {
  text-decoration: none;
  color: #ffb79b;
  padding-right: 15px;
  font-size: 12px;
}

.artist-name-list li a:hover {
  color: #de9e85;
}

span.artist-name {
  color: #595959;
  font-size: 12px;
}

.continue-reading-btn {
  float: left;
  background-color: #ffb79b;
  color: white;
  font-size: 8px;
  outline: none;
  border: none;
  padding: 7px 7px;
}

.continue-reading-btn:hover {
  cursor: pointer;
  background-color: #de9e85;
}
.recent-post-social-bar {
  float: left;
  width: 80%;
}
.recent-post-social-bar li {
  float: left;
  list-style: none;
  border: 1px solid #eaeaeb;
  padding: 3px 4px;
}

.recent-post-social-bar li a {
  text-decoration: none;
}

.recent-post-social-bar li a:hover i {
  color: #ffb79b;
}
.share-icon {
  float: right;
  height: 40px;
  width: 40px;
  background-color: #ffb79b;
  background-image: url(../images/share-icon.png);
}

.share-icon:hover {
  background-image: url(../images/share-icon-hover.png);
}

.social-media-share-icon {
  float: right;
  height: 40px;
  width: 30px;
  background-color: #ffb79b;
}
.social-media-share-icon img {
  width: 30px;
  margin-top: 5px;
}

.read-more-btn {
  float: left;
  background-color: white;
  color: #595959;
  font-size: 12px;
  outline: none;
  border: 1px solid #eaeaeb;
  padding: 12px 20px;
}

.read-more-btn:hover {
  cursor: pointer;
  background-color: #ffb79b;
  color: white;
  border: 1px solid #ffb79b;
}

.medium-recent-post div.recent-post-description {
  float: left;
  width: 65%;
}

.search-field {
  width: 80%;
  height: 50px;
  outline: none;
  border: none;
  float: left;
  padding: 0 8px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.search-btn {
  height: 50px;
  width: 20%;
  border: none;
  outline: none;
  float: left;
  background: url(../images/icons/search-icon.png) no-repeat;
  background-position: 50%, 50%;
  background-color: white;
}

.continue-reading-btn {
  font-size: 12px;
  padding: 13px 20px;
}

.recent-post-social-bar {
  width: 77%;
}
.recent-post-social-bar li {
  width: 38px;
  text-align: center;
  line-height: 38px;
  padding: 0;
}

.social-media-body .recent-post-social-bar {
  width: 160px;
}

.social-media-body .recent-post-social-bar li {
  padding: 0;
}

h2.category-heading {
  margin: 0 0 18px 0;
  padding-top: 18px;
  font-size: 12px;
}

.instagram-body img {
  width: 74px;
  height: 66px;
  float: left;
  border: 1px solid white;
}

.read-more-about-me-btn {
  width: 100%;
  background-color: #ffb79b;
  color: white;
  font-size: 12px;
  outline: none;
  border: none;
  padding: 18px 20px;
}

.read-more-about-me-btn:hover {
  background-color: #de9e85;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .burger-menu a {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .instagram-body img {
    height: auto;
  }

  .large-slider-bot-section span {
    font-size: 9px;
  }
}

@media (max-width: 562px) {
  .continue-reading-btn {
    font-size: 9px;
    padding: 10px 10px;
  }

  .recent-post-social-bar li {
    width: 28px;
    text-align: center;
    line-height: 28px;
    padding: 0;
    font-size: 12px;
  }

  .share-icon {
    height: 30px;
    width: 30px;
    background-size: cover;
  }
  .social-media-share-icon {
    height: 30px;
  }

  .recent-post-social-bar {
    width: 73%;
  }
  .read-more-btn {
    font-size: 9px;
    padding: 9px 20px;
  }
}

@media (max-width: 486px) {
  .nav-social-bar li {
    width: 30px;
    line-height: 40px;
  }
  .search-bar li {
    padding: 0 10px;
    line-height: 40px;
  }
}

@media (max-width: 375px) {
  .nav-social-bar li a,
  .search-bar li a {
    font-size: 8px;
  }

  .read-more-btn {
    font-size: 7px;
    padding: 9px 10px;
  }

  .continue-reading-btn {
    font-size: 7px;
    padding: 10px 5px;
  }

  .search-bar li {
    padding: 0 7px;
  }
  .nav-social-bar li {
    width: 25px;
  }
  .popular-post-description {
    width: 63.2174%;
  }
}
